*{
				padding:0;
				margin:0;
			}
			.box{
				width: 980px;
				height: 1386px;
				margin: 0 auto;
			}
			.head{
				width: 892px;
				margin: 0 auto;
				height: 61px;
				border-bottom: 2px solid #983e8c;	
				position: relative;			
			}
			.head .logo{
				width: 104px;
				height: 55px;
				vertical-align: bottom;
				background-color: #d45d5c;
				color: #fff;
				font-family: "黑体";
				font-size: 12px;				
				display: table-cell;
				vertical-align: bottom;
				padding: 3px;				
				
			}
			.head .time{
				font-family: "黑体";
				font-size: 12px;
				color: #d45d5c;		
				position: absolute;
				right: 0;
				bottom: 3px;				
			}
			.banner{
				width: 892px;
				height: 301px;
				padding-top:35px ;
				margin: 0 auto;
			}
			.banner .left-banner{
				width: 641px;
				height: 301px;
				background-image: url(../img/banner.jpg);
				background-repeat: no-repeat;
				float: left;
			}
			.banner .left-banner .left-block,
			.banner .left-banner .right-block{
				width: 191px;
				height: 301px;
				opacity: 0.4;
			}
			.banner .left-banner .left-block{
				float: left;
				background-color: #656046;
			}
			.banner .left-banner .right-block{
				float: right;
				background-color: #cca9a4;
			}
			.banner .tilte{
				height: 294px;
				width: 203px;				
				border-top: 2px solid #cc8091;
				float: right;
				padding-top: 5px;
				position: relative;
			}
			.banner .tilte p:nth-of-type(1),
			.banner .tilte p:nth-of-type(2){
				font-family: "微软雅黑";
				font-size: 24px;
				color: #000;
				text-decoration: underline;								
				font-variant: small-caps;		
			}
			.banner .tilte p:nth-of-type(3){
				font-family: "楷体";
				font-size: 12px;
				line-height: 10px;
				padding-top:3px ;
				color: #858585;
			}
			.banner .tilte p:nth-of-type(4){
				font-size: 116px;
				color: #75b86b;
				font-family: "微软雅黑";
				font-style: italic;
				position: absolute;			
				line-height: 1em;
				left: -13px;
				top: 115px;
			}
			.banner .tilte p:nth-of-type(5),
			.banner .tilte p:nth-of-type(6),
			.banner .tilte p:nth-of-type(7){
				color: #cc8091;
				font-family: "微软雅黑";
				position: absolute;			
				line-height: 1em;
			}
			.banner .tilte p:nth-of-type(5){
				font-size: 55px;
				bottom: -5px;
			}
			.banner .tilte p:nth-of-type(6){
				font-size: 21px;
				bottom: 9px;
				left: 83px;
			}
			.banner .tilte p:nth-of-type(7){
				font-size: 12px;
				bottom: -1px;
				left: 83px;
			}
			.info{
				width: 892px;
				margin: 0 auto;
				padding-top: 20px;
				height: 200px;
			}
			.info .info-1,
			.info .info-2,
			.info .info-3{
				float: left;
				padding-right: 20px;
			}
			.info .info-1 h3{
				font-family: "微软雅黑";
				font-size: 16px;
				color: #418c59;
				text-decoration: underline;
			}
			.info .info-2 h3{
				font-family: "微软雅黑";
				font-size: 16px;
				color: #d2994f;
				text-decoration: underline;
			}
			.info .info-3 h3{
				font-family: "微软雅黑";
				font-size: 16px;
				color: #cc7680;
				text-decoration: underline;
			}
			.info .info-1 p{
				font-family: "宋体";
				color: #767777;
				line-height: 16px;
				font-size: 12px;
			}
			.info .info-2 h3{
				font-family: "微软雅黑";
				font-size: 16px;
				color: #D2994F;
				text-decoration: underline;
			}
			.info .info-2 p{
				font-family: "微软雅黑";
				color: #767777;
				line-height: 16px;
				font-size: 12px;
				opacity: 0.7;
			}
			.info .info-3 h3{				
				font-size: 16px;
				color: #CC7680;
				text-decoration: underline;
			}
			.info .info-3 p{
				font-family: "微软雅黑";
				color: #cd4a48;
				line-height: 16px;
				font-size: 12px;
				opacity: 0.7;
				font-style:italic;
			}
			.content{
				width: 892px;
				margin: 0 auto;
				padding-top: 20px;
			}
			.content-left{
				float: left;
				width: 415px;
			}
			.content .content-left i{
				font-size: 72px; 
				font-family: "黑体";
				color: #f5e327;
			}
			.content .content-left p:nth-of-type(1){
				font-size: 42px; 
				font-family: "黑体";
				color: #11456b;
				line-height: 16px;
				font-weight: bold;
			}
			.content .content-left p:nth-of-type(2){
				font-size: 42px; 
				font-family: "黑体";
				color: #11456b;
				line-height: 16px;
				padding-top: 24px;
				padding-bottom: 15px;
				font-weight: bold;
			}
			.content .content-left p:nth-of-type(3){
				font-size: 33px; 
				font-family: "黑体";
				color: #11456b;
				font-weight: bold;
				padding-bottom: 5px;
			}
			.introduce{
				width: 415px;
				border-top: 2px solid #11456B;
				padding-top: 10px;
			}

			.content .content-left .introduce p{
				font-size: 12px; 
				font-family: "微软雅黑";
				font-style: normal;
				font-weight: normal;
				color: #F5E327;
				color: #767777;		
					
			}
			.content-left span{
				display: inline-block;
				width: 415px;
				border-top: 2px solid #11456B;
				padding-top: 10px;
			    position: relative;
			    font-size: 12px;
			    line-height: 16px;
			    font-family: "宋体";
			    color: #767777;
			}
			.pic{
				float: right;
				padding: 15px 15px 15px 0;
			}
			.content-left .big{
				float: left;
				font-size: 70px;
				padding: 25px 10px 25px 0;
				color: #F5E327;
						
			}
			.content .content-right{
				float: right;
				
			}
			.content-right .info-list{
				width: 409px;
				height: 228px;
				background-color: #eeedd6;
				padding: 25px;
				position: relative;
			}
			.pic-2{
				padding-bottom: 35px;
				width: 458px;
				height: 275px;
				background-image: url(img/pic-2.jpg);
				background-repeat: no-repeat;
				position: relative;
			}
			.pic-2 .pic-2-title{
				width: 428px;
				height: 53px;
				background-color: #000000;
				opacity: 0.5;
				position: absolute;
				bottom: 52px;
				left: 0;
				padding: 8px  0 0 30px;
			}
			.pic-2 .pic-2-title b{
				display: inline-block;
				width: 3px;
				height: 44px;
				background-color: #72b12a;
			}
			.pic-2 .pic-2-title p{
				font-size: 26px;
				color: #FFFFFF;
				font-family: "微软雅黑";
				position: absolute;
				bottom: 15px;
				left: 50px;
			}
			.pic-2 .pic-2-title i{
				font-size: 12px;
				color: #72b16a;
				font-family: "微软雅黑";
				position: absolute;
				bottom: 17px;
				left: 160px;
				letter-spacing: 140%;
			}
			.info-list p{
				font-size: 16px;
				color: #5a5b5b;
				padding-left: 20px;
				padding-top: 10px;
			}
			.info-list p i{
				font-size: 12px;
				color: #5a5b5b;
				font-family: "宋体";

			}
			.arrow-up-1 ,.arrow-up-2,.arrow-up-3{				
			    width:0; 
			    height:0; 
			    border-left:5px solid transparent;
			    border-right:5px solid transparent;
			    border-bottom:5px solid #000;
			    display: inline-block;	 
			    position: absolute;

			}
			.arrow-up-1{
				top: 45px;
			}
			.arrow-up-2 {							   
			    top: 73px;
			}
			.arrow-up-3 {							   
			    top: 100px;
			}
			.info-list .bootom-info{
				background-color: #d45d5c;				
				height: 160px;
				width: 260px;
				position: absolute;
				bottom: 0;
				left: 0;
				line-height: 160px;
			}
			.info-list .bootom-info strong{
				color: #FFFFFF;
				font-size: 120px;
				padding:0 0 0 10px;
			}
			.info-list .bootom-info b{
				height: 86px;
				width: 2px;
				background-color: #fff;
				display: inline-block;
				position: absolute;
				top: 31px;
			}
			.info-list .bootom-info i:nth-of-type(1){
				font-size: 20px;
				color: #fff;
				position: absolute;
				font-family: "微软雅黑";
				top: -35px;
				left: 80px;
			}
			.info-list .bootom-info i:nth-of-type(2){
				font-size: 20px;
				color: #fff;
				position: absolute;
				font-family: "微软雅黑";
				top: -15px;
				left: 80px;
			}
			.info-list .bootom-info p:nth-of-type(1){
				font-size: 12px;
				color: #fff;
				position: absolute;
				font-family: "微软雅黑";
				top: 0px;
				left:65px;
			}
			.info-list .bootom-info p:nth-of-type(2){
				font-size: 12px;
				color: #fff;
				position: absolute;
				font-family: "微软雅黑";
				top: 15px;
				left:65px;
			}
			.info-list .bootom-centent{			
				height: 160px;
				width: 198px;
				position: absolute;
				bottom: 0;
				right: 0;
				padding-right: 10px;
			}
			.info-list .bootom-centent img:nth-of-type(1){
				float: left;
				padding-left: 25px;
				padding-right: 10px;
			}
			.info-list .bootom-centent img:nth-of-type(2){
				float:right;
				
			}
			.info-list .bootom-centent p{
				font-size: 14px;
				font-style: italic;
				font-family: "黑体";
				color: #5A5B5B;
			}
			.fool{
				width: 892px;
				margin: 0 auto;
				border-top: 1px solid #938e8c;
				padding-top: 30;
				height: 30px;	
				position: relative;						
			}
			.fool p{
				font-size: 12px;
				font-family: "黑体";
				color: #D45D5C;
                display: block;
                position: absolute; 
                top: 5px;   
                right: 0;
			}
			.clean{
				width: 892px;
				margin: 0 auto;
				height: 50px;
				overflow: hidden;
			}